[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lazymatrix"]
	path = lazymatrix
	url = https://github.com/vsegersall/lazymatrix
